# Python
__pycache__/
.venv/
venv/
.mypy_cache/
.pytest_cache/
*.egg-info/

# IDEs
.idea/

# dbt Labs
vortex_dev_mode_output.jsonl

# Logs
dbt-mcp.log

# OS
**/.DS_Store

# Environment variables
.env

# MCPB zip file
dbt-mcp.mcpb

# Codex
helloagents/
